.textBox {
	height: 1000px;
	padding: 15px;
	margin-bottom: 15px;
	background-color: #f1faee;
	border: 1px solid #1d3557;
	font-family: 'Courier New', monospace;
}

h1{
	font-family: 'Pacifico', cursive, 'Courier New', monospace;
	color: #1d3557;
}

body {
	background-color: #a8dadc;
}

.navbarStyling{
	background-color: #457b9d;
	color: white !important;
}
.navMenu{
	background-color: #f1faee;
}
